.friendList {
    display: grid;
    grid-template-columns: 3fr 9fr;
}

.friendList img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}

.name {
    align-self: center;
    justify-self: center;
    font-size: 15px;
    color: #6e6e6e;
}