.profile {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
    color: #6e6e6e;
}

.profileInfo {
    display: grid;
    grid-template-columns: 200px 1fr;
    background: #f5f5f5;
    padding: 10px;
}

.avatar {
    align-self: center;
    justify-self: center;
}

.name {
    align-self: center;
    justify-self: end;
}

.status {
    justify-self: end;
    font-size: 16px;
    font-weight: 400;
}

.profile__data {
    margin-top: 20px;
    line-height: 25px;
}

.profile__data__title {
    font-weight: 600;
}

.contacts__title {
    margin-top: 10px;
    font-weight: 600;
}

.friendsCount {
    align-self: center;
    justify-self: center;
}

.photoCount {
    align-self: center;
    justify-self: center;
}

.profileInfo img {
    width: 200px;
}

.profileDescription {
    margin-left: 20px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}