.profile {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 20px;
}

.profileInfo {
    display: grid;
    grid-template-columns: 200px 1fr;

    padding: 10px;
}

.avatar {
    align-self: center;
    justify-self: center;
}

.name {
    align-self: center;
    justify-self: center;
}

.friendsCount {
    align-self: center;
    justify-self: center;
}

.photoCount {
    align-self: center;
    justify-self: center;
}

.profileInfo img {
    width: 200px;
}

.profileDescription {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}