.MyPosts {
    padding: 10px;
    display: grid;

    grid-template-rows: 70px 1fr;

}

.inputMessage {
    align-self: center;
    justify-self: center;
}

.buttonSubmit {
    align-self: center;
    justify-self: center;
}

.postInput {
    display: grid;
    grid-template-columns: 9fr 3fr;
    grid-template-rows: 1fr;
    justify-content: space-around;
    align-content: space-evenly;
}

.textArea {
    width: 600px;
    height: 40px;
    resize: none;

}

.posts {

}



.button {
    display: inline-block;
    color: darkslategray;
    font-weight: 400;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid darkslategrey;
    border-radius: 1px;
    transition: 0.2s;
}
button:hover { background: cadetblue; }
button:active { background: darkslategrey; }
