.MyPosts {
    background-color: darkgray;
    padding: 10px;
    display: grid;

    grid-template-rows: 3fr 9fr;

}

.postInput {
    display: grid;
    grid-template-columns: 9fr 3fr;
    justify-content: space-around;
    align-content: space-evenly;
    text-align: center;
}

.textArea {
    width: 700px;
    height: 40px;
    resize: none;

}

.posts {
    color: white;
}

.button {
    background-color: darkslategrey;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


