.header {
    grid-area: h;

    display: grid;
    grid-template-columns: 2fr 10fr;

    justify-content: space-around;
    align-content: space-evenly;
    text-align: center;
    background: #f5f5f5;
}

.header img {
    margin: 0 auto;
    width: 50px;
}

.logo {
    align-self: center;
}

.mainTitle {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
}

.login {
    color: #6e6e6e;
    text-decoration: none;
    justify-content: center;
    align-self: center;
}

.login a {
    text-transform: uppercase;
    color: #6e6e6e;
    text-decoration: none;
}

.login a:hover {
    color: #2f2c2c;
}