.header {
    grid-area: h;

    display: grid;
    grid-template-columns: 2fr 10fr;

    justify-content: space-around;
    align-content: space-evenly;
    text-align: center;
    background: #f5f5f5;
}

.header img {
    margin: 0 auto;
    width: 50px;
}

.logo {
    align-self: center;
}

.mainTitle {

}