.nav {
    grid-area: n;
    padding: 20px;
    box-shadow: 0 10px 10px darkgray;
}

.item a {
    color: #6e6e6e;
}

.item a.activeLink {
    color: darkslategrey;
    font-weight: 600;
}

.nav h4 {
    color: darkslategrey;
}

.item a:hover {

}


.item a:visited {

}