.Post {
    display: grid;
    grid-template-rows: 1fr 1fr;

    /*box-shadow: 5px -5px 5px 0px #EDEEEF;*/
    border-radius: 3px;
    background: #f5f5f5;
}

.item {
    color: #6e6e6e;
    align-self: center;
    justify-self: start;
    padding: 5px;
}

.itemData {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background: #eee;

}



.like {
    color: seagreen;
    align-self: center;
    justify-self: center;
}

.postDate {

}

.date {
    align-self: center;
    justify-self: end;
    color: #6e6e6e;
    font-size: 10px;
}