.Post {
    margin-left: 15px;
    display: grid;
    grid-template-areas: "msg msg msg" ". dt lk";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
}

.item {
    grid-area: msg;
    color: white;
    align-self: center;
    justify-self: start;
}



.like {
    grid-area: lk;
    color: seagreen;
    align-self: center;
    justify-self: center;
}

.postDate {

}

.date {
    grid-area: dt;
    align-self: center;
    justify-self: end;
}