.Post {
    margin-left: 15px;
    display: grid;
    grid-template-areas: "msg msg msg" ". dt lk";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 2fr 1fr 1fr;
    border-bottom: 1px solid #6e6e6e;
}

.item {
    color: #6e6e6e;
    grid-area: msg;
    align-self: center;
    justify-self: start;

}



.like {
    grid-area: lk;
    color: seagreen;
    align-self: center;
    justify-self: center;
}

.postDate {

}

.date {
    grid-area: dt;
    align-self: center;
    justify-self: end;
    color: #6e6e6e;
    font-size: 10px;
}