.dialogs {
    display: grid;
    grid-template-rows: 3fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.dialogsRow {
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 10px;
    padding: 10px;
}

.submitRow {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 10px;
    padding: 10px;
}

.textArea {
    width: 600px;
    height: 40px;
    resize: none;
    align-self: center;
    justify-self: center;
}

a {
    text-decoration: none;
}

.dialog {
    padding: 10px;
    display: grid;
    grid-auto-rows: 40px;
    grid-gap: 10px;
}

.dialogsItems {
    padding: 10px;
    text-align: left;
    box-shadow: 5px -5px 5px 0px #EDEEEF;
    border-radius: 10px;
}

.dialogsItems:hover {
    background-color: #f1f1f1;
    box-shadow: 1px -1px 1px 0px #EDEEEF;
}

.dialogsItems a {
    color: #6e6e6e;
}

.dialogsItems .active {
    color: darkslategrey;
    font-size: 18px;
}

.messages {
    display: grid;
    grid-template-columns: 12fr;
    grid-gap: 10px;
    padding: 10px;
}

.message {
    padding: 10px;
    display: grid;
    grid-template-rows: auto;
    box-shadow: 5px -5px 5px 0px #EDEEEF;
    text-align: left;
    color: #6e6e6e;
    font-size: 14px;

}

.buttonArea {
    align-self: center;
    justify-self: center;
}

.button {
    display: inline-block;
    color: darkslategray;
    font-weight: 400;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border: 2px solid darkslategrey;
    border-radius: 1px;
    transition: 0.2s;
}
button:hover { background: cadetblue; }
button:active { background: darkslategrey; }